<section class="our-ser mt-5">
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="text-white">
          <p class="hb">Our <br>
            Services</p>
          <h1>Make your marketing more efficient</h1>
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="card m-2 shadow-lg">
          <div class="card-body">
            <img src="../../../assets/image/service-icon01.png" alt="Photo">
            <h1>Website <br>
              Development</h1>
            <p>2000+ plus websites developed with modern design, responsive layout & creative content</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="card m-2 shadow-lg">
          <div class="card-body">
            <img src="../../../assets/image/service-icon02.png" alt="Photo">
            <h1>Social Media <br>
              Marketing</h1>
            <p>150+ social media profiles strategized, managed and grown</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="card m-2 shadow-lg">
          <div class="card-body">
            <img src="../../../assets/image/service-icon03.png" alt="Photo">
            <h1>Content <br>
              Marketing</h1>
            <p>10,000+ content pieces in all forms marketed on google, youtube, social media and OTT</p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="card m-2 shadow-lg">
          <div class="card-body">
            <img src="../../../assets/image/service-icon04.png" alt="Photo">
            <h1>Search Engine <br>
              Optimization</h1>
            <p>5000+ websites and countless pages ranked on top SERPs</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="card m-2 shadow-lg">
          <div class="card-body">
            <img src="../../../assets/image/service-icon05.png" alt="Photo">
            <h1>Blogging</h1>
            <p>5,000+ blogs written & published on countless websites and blog pages</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="card m-2 shadow-lg">
          <div class="card-body">
            <img src="../../../assets/image/service-icon06.png" alt="Photo">
            <h1>Paid <br>
              Advertising</h1>
            <p>450% average ROAS for
              40,000+campaigns</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="card m-2 shadow-lg">
          <div class="card-body">
            <img src="../../../assets/image/service-icon07.png" alt="Photo">
            <h1>Email <br>
              Marketing</h1>
            <p>12% email open rate & 8% CTR for 10,000+ campaigns</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<!--============================our service=================================================-->



<!-- <section class="container-fluid">
  <div class="f-bg banner mt-5">
    <div class="banner-content f1">01</div>
    <div class="banner-content f2">02</div>
    <div class="banner-content f3">03</div>
    <div class="banner-content f4">04</div>
    <div class="banner-content f5">05</div>
    <div class="banner-content f01">
      <img src="../../../assets/image/f01.png" alt="Logo">
      <h1><b>Brand Awareness</b></h1>
      <p>Let’s spread the word!</p>
    </div>
    <div class="banner-content f02">
      <img src="../../../assets/image/f02.png" alt="Logo">
      <h1><b>Traffic and
          Engagement</b></h1>
      <p>Make your audience fall in love with your product</p>
    </div>
    <div class="banner-content f03">
      <img src="../../../assets/image/f03.png" alt="Logo">
      <h1><b>Advertise and Retargert</b></h1>
      <p>Chase your customer the all over internet and make them hit “ Pay Now ”</p>
    </div>
    <div class="banner-content f04">
      <img src="../../../assets/image/f04.png" alt="Logo">
      <h1><b>Retention</b></h1>
      <p>Keep Making your customers come back to you</p>
    </div>
    <div class="banner-content f05">
      <img src="../../../assets/image/f05.png" alt="Logo">
      <h1><b>Consistent <br> Business Growth</b></h1>
      <p>Get busy collecting revenue 365 days</p>
    </div>
  </div>
</section> -->

<div class="oserv container-fluid">
  <img src="../../../assets/image/our-services.png" alt="photo">
</div>
