.main-banner {
  // background-image: linear-gradient(to-right, rgba(0, 0, 0, 0.397), rgba(0, 0, 0, 0.479));
  // 	 	width: 100%;

	.bg-vdo video {
		width: 100%;
		height: 100vh;
    top: -90px;
		object-fit: cover;
    position: relative;
  }

		.bg-vdo::after{
			content: '';
      position: absolute;
      transform: translate(-50%,-50%);
      top: 50%;
      left: 50%;
			height: 100%;
			width: 100%;
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.3) , rgba(0, 0, 0, 0.3));    		}

	.banner-content-1 {
		position: absolute;
		transform: translate(-50%, -50%);
		top: 80%;
		left: 50%;
		width: 80%;

		.card {
			border: 1px solid #dca73a;
			width: 150px;
			border-radius: 30% 0 30% 0;
			.card-body {
				img {
					size: large;
				}
				p {
					font-size: 18px;
					font-weight: 500;
				}
			}
		}
	}

	.banner-content-2 {
		position: absolute;
		transform: translate(-50%, -50%);
		top: 40%;
		left: 50%;
		width: 80%;
		.hf1 {
			font-size: 5em;
			color: #fff;
			margin: 0px;
			font-weight: 900;
			line-height: 80px;
		}
		.hf2 {
			font-size: 3em;
			color: #fff;
			margin: 0px;
			font-weight: 700;
      line-height: 45px;
		}
	}
}


@media screen and (max-width:500px) {
  .bc-desk{
    display: none !important;
  }
  }
