<!-- main-banner -->
<section class="main-banner" id="top">
  <div class="bg-vdo">
    <video src="../assets/video/Growing Business Charts and Graphics.mp4" autoplay="true" loop="true"></video>
  </div>
  <div class="banner-content-2 text-center">
    <p class=" hf1">VERTEX DIGITAL WORLD</p>
    <p class="hf hf2">Everything You Need For</p>
  </div>
  <div class="banner-content-1 p-5 d-flex justify-content-around">

    <div class="card shadow-lg p-3">
      <div class="card-body p-0">
        <img class="mx-auto d-flex" src="../assets/image/dev-icon01.png" alt="photo">
        <p class="text-center">Website <br> Development</p>
      </div>
    </div>
    <div class="card shadow-lg p-3">
      <div class="card-body p-0">
        <img class="mx-auto d-flex" src="../assets/image/seo-icon.png" alt="photo">
        <p class="text-center">Search Engine <br> Optimization</p>
      </div>
    </div>
    <div class="card shadow-lg p-3">
      <div class="card-body p-0">
        <img class="mx-auto d-flex" src="../assets/image/social-icon.png" alt="photo">
        <p class="text-center">Social Media <br> Marketing</p>
      </div>
    </div>
    <div class="card shadow-lg p-3">
      <div class="card-body p-0">
        <img class="mx-auto d-flex" src="../assets/image/advert-icon.png" alt="photo">
        <p class="text-center">Social Media <br> and Google Ads</p>
      </div>
    </div>
    <!-- <form action="#" class="form form-row mx-auto justify-content-around">
                <div class="col-md-6 col-xl-2 py-3">
                    <label for="1" class="form-control-label">Check In:</label>
                    <input type="text" class="form-control" placeholder="Date">
                </div>
                <div class="col-md-6 col-xl-2 py-3">

                    <label for="2" class="form-control-label">Check Out:</label>
                    <input type="text" class="form-control" placeholder="Date">
                </div>
                <div class="col-md-2 col-xl-1 py-3">
                    <label for="3" class="form-control-label">Adults:</label>
                    <input type="number" class="form-control" placeholder="1">
                </div>
                <div class="col-md-2 col-xl-1  py-3">
                    <label for="3" class="form-control-label">Children:</label>
                    <input type="number" class="form-control" placeholder="1">
                </div>
                <div class="col-md-2 col-xl-1 py-3">
                    <label for="3" class="form-control-label">Rooms:</label>
                    <input type="number" class="form-control" placeholder="1">

                </div>
                <div class="col-md-6 col-xl-2 pt-5">
                    <button class="btn bttn btn-block">Book Now</button>
                </div>
            </form> -->
  </div>
  <!-- <div class="bookbtn">
    <a href="#frm-mob"><button class="btn bttn btn-lg">Book Now</button></a>
  </div> -->

</section>

<!-- things to do section desktop -->
<!-- <section class="todo container-fluid px-0 py-5 desk">
  <h1 class="my-5 text-center hh1">Things To Do</h1>
  <div class="row no-gutters">
    <div class="col-lg-6 todo-img">
      <img src="https://www.mainestaysvr.com/uploads/areainfo/dWDwe.jpg" alt="photo">
    </div>
    <div class="col-lg-6">
      <div class="todo-txt p-5 shadow-lg todo-txt-r">
        <h2 class="hf">Mount Agamenticus (York)</h2> <br>
        <p>Mount Agamenticus is a 692 ft high monadnock in the town of York, Maine. The
          area surrounding the
          summit is a park reservation which provides habitat for wildlife and a venue for recreation. The
          greater Agamenticus region covers nearly 30,000 acres (12,000 ha) in the southern maine towns of
          Eliot, Ogunquit, South Berwick, Wells and York.</p> <br>
        <button class="btn btn-lg">Learn More</button>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="p-5 shadow-lg todo-txt-l todo-txt">
        <h2 class="float-right hf">Nubble Lighthouse (York)</h2> <br> <br>
        <p>Considered to be the "most photographed" lighthouse, this 41-foot conical tower sits on the
          summit of Cape Neddick Bubble, a small offshore rocky islet, looking proudly over the Atlantic.
        </p>
        <button class="btn btn-lg float-right">Learn More</button> <br>
      </div>
    </div>
    <div class="col-lg-6 todo-img">
      <img src="https://www.mainestaysvr.com/uploads/areainfo/dsfdWQwc.jpg" alt="photo">
    </div>
    <div class="col-lg-6 todo-img">
      <img src="https://www.mainestaysvr.com/uploads/areainfo/hhiufvfv.jpg" alt="photo">
    </div>
    <div class="col-lg-6">
      <div class="todo-txt p-5 shadow-lg todo-txt-r">
        <h2 class="hf">Fort Williams State Park</h2> <br>
        <p>Maine's oldest lighthouse - and one of the most picturesque and most frequently photographed in
          the U.S. - has been in operation since 1791. Although it is closed to the public, you can stop
          by the adjacent museum, enjoy the grounds which include a beach, lawns and picnic areas and view
          boats entering and leaving the harbor.</p> <br>
        <button class="btn btn-lg">Learn More</button>
      </div>
    </div>
  </div>
</section> -->

