<!-- =======Let Us Do the Rest Now!============== -->
<Section class="container">
  <h1 class="text-center hf">
    You have finally found the right marketing agency</h1>
  <p class="text-center cho-head c1 mb-3 hf">Let Us Do the Rest Now!</p>
  <div class="contnr row no-gutters">
    <div class="col-md-4 col-sm-6 p-4 rn">
      <div class="card shadow-lg"data-aos="fade-up"
     data-aos-duration="2000">
        <div class="card-body">
          <img src="../../../assets/image/img-1.png" alt="Photo">
          <h2>Wishing for 3x ROI?</h2>
          <h4>Our growth genies will fulfil all your wishes.</h4>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 p-4">
      <div class="card shadow-lg"data-aos="fade-up"
     data-aos-duration="2000">
        <div class="card-body">
          <img src="../../../assets/image/img-2.png" alt="Photo">
          <h2>Tired of boring and stale content?</h2>
          <h4>Not our cup of tea! We brew fresh & unique ideas- every time!</h4>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 p-4">
      <div class="card shadow-lg"data-aos="fade-up"
     data-aos-duration="2000">
        <div class="card-body">
          <img src="../../../assets/image/img-3.png" alt="Photo">
          <h2>Failed executions hurting your campaigns?</h2>
          <h4>We wouldn't know much about that. Our team has mastery from strategy to execution.</h4>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 p-4">
      <div class="card shadow-lg"data-aos="fade-up"
     data-aos-duration="2000">
        <div class="card-body">
          <img src="../../../assets/image/img-4.png" alt="Photo">
          <h2>Tired of following up on deliverables?</h2>
          <h4>Our managers set their watches ahead of you to free you from any chasing.</h4>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 p-4">
      <div class="card shadow-lg"data-aos="fade-up"
     data-aos-duration="2000">
        <div class="card-body">
          <img src="../../../assets/image/img-5.png" alt="Photo">
          <h2>Copy-paste strategies resulting in zero growth?</h2>
          <h4>We don't believe in 'one shoe fits all'. Grow with our customized pair.</h4>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 p-4">
      <div class="card shadow-lg"data-aos="fade-up"
     data-aos-duration="2000">
        <div class="card-body">
          <img src="../../../assets/image/img-6.png" alt="Photo">
          <h2>Empty promises hurting your bank?</h2>
          <h4>Our commitments will immunize your growth system.</h4>
        </div>
      </div>
    </div>
    <button class="bttn btn col-5 mx-auto my-3"> <a href="#contactus">Get a 360° Marketing Strategy</a></button>
  </div>
</Section>
