<!--======= navbar start======== -->

<nav class="navbar navbar-expand-md sticky-top justify-content-around d-flex p-0 navbar-light bg-light">
  <a class="navbar-brand nb1" href="index.html"> <img [src]="vortexLogo" alt="Logo"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon text-black text-center text-white" style="font-size: 14px;">
    </span>
  </button>
  <div class="collapse navbar-collapse text-center justify-content-center" id="collapsibleNavbar">
    <a class="navbar-brand nb2" href="index.html"> <img [src]="vortexLogo" alt="Logo"></a>

    <ul class="navbar-nav align-items-center">
      <li class="nav-item m-1 m-2"><a href="#home" matTooltip="Home" class="nav-link">Home</a></li>
      <li class="nav-item m-1 m-2"><a href="#chooseus" matTooltip="Why Choose us" class="nav-link">Why Choose Us</a></li>
      <li class="nav-item m-1 m-2"><a href="#ourservices" matTooltip="Our services" class="nav-link">Our Services</a></li>
      <li class="nav-item m-1 m-2"><a href="#review" matTooltip="Testimonials" class="nav-link">Testimonials</a></li>
      <li class="nav-item m-1 m-2"><a href="#contactus" matTooltip="Contact Us" class="nav-link">Contact Us</a></li>
      <li class="nav-item m-1 m-2"><a mat-raised-button matTooltip="+91-9100007730" class="bttn btn" href="tel:+919100007730">+91-9100007730</a></li>
    </ul>
  </div>
</nav>
<!--============== Navbar End================ -->
<app-home id="home"></app-home>
<app-chooseus id="chooseus"></app-chooseus>
<app-ourservices id="ourservices"></app-ourservices>
<app-reviews id="review"></app-reviews>
<app-contactus></app-contactus>
<!-- <div class="container">
<app-contactusform></app-contactusform></div> -->


<!-- =================Footer Start=============== -->
<footer class="container-fluid bg-dark py-3 mt-5">
  <div class="row foot mx-auto justify-content-around text-white">
    <div class="col-md-5 p-4">
      <img [src]="vortexLogo" alt="logo" height="90px"> <br>
      <p>Vortex Digital World is an innovative online digital marketing agency offering a myriad of integrated web marketing services to business across the world</p>
    </div>
    <div class="col-md-3 p-4">
      <h1 class="hf">Usefull Links</h1> <br>
      <ul class="foot-nav">
        <li class="foot-item"><a href="#home" class="foot-link">Home</a></li>
        <li class="foot-item"><a href="#chooseus" class="foot-link">Why Choose Us</a></li>
        <li class="foot-item"><a href="#ourservices" class="foot-link">Our Services</a></li>
        <li class="foot-item"><a href="#review" class="foot-link">Testimonials</a></li>
        <li class="foot-item"><a href="#contactus" class="foot-link">Contact Us</a></li>
      </ul>
    </div>
    <div class="col-md-4 p-4 cont-info">
      <h1 class="hf">Contact Info</h1> <br>
      <p><i class="fa-solid fa-phone"></i><a matTooltip="+91-9100007730" href="tel:+919100007730">Phone : +91-9100007730</a></p>
      <p><i class="fa-solid fa-envelope"></i>EMAIL : support@vortexdigitalworld.com</p>
      <p><i class="fa-solid fa-location-dot"></i>Office ADDRESS : 685/21 Meham Road Gohana, Dist. Sonipat Haryana, India
      </p>
    </div>
  </div>
</footer>
<!-- fixed -->
<a  matTooltip="+91-9100007730" href="tel:+919100007730" class="phone"><mat-icon>phone</mat-icon></a>
<!-- =================Footer End=============== -->


