// header start
nav a img {
  height: 80px;
  object-fit: cover;
}

nav .nav-item .nav-link:hover {
  background-color: #dca73a !important;
  color:#fff;
  transition: 0.2s all ease-in-out;
  border-radius: 25% 0% 25% 0% 25%;
}
// header end
// footer start
.foot {
  width: 80%;
}

footer .foot-nav {
  padding: 0px;
}

footer .foot-nav .foot-item {
  list-style-type: none;
}

footer .foot-nav .foot-item .foot-link {
  color: #fff !important;
  text-decoration: none;
}

footer .foot-nav .foot-item .foot-link:hover {
  color: #dca73a !important;
}

footer .cont-info .fa-solid {
  padding-right: 10px !important;
  color: #dca73a !important;
}
// footer end

.phone {
  position: fixed;
  bottom: 25px;
  right: 35px;
  padding: 15px 20px;
  background-color: #f1b233;
  color: #fff;
  border-radius: 50%;
}

.phone:hover {
  text-decoration: none;
  color: #fff !important;
}
.cont-info{
  a{
    text-decoration: none;
    color: unset;
  }
}



@media screen and (min-width:767px) {
  .nb1{
    display: none;
  }
  }
@media screen and (max-width:767px) {
  .nb2{
    display: none;
  }
  }


// }

// @media screen and (max-width:767px) {
//   .main-banner .banner-content-1 {
//       display: none;
//   }

//   .main-banner .bookbtn {
//       position: absolute;
//       transform: translate(-50%, -50%);
//       top: 80%;
//       left: 50%;
//   }
//   .main-banner .bookbtn {
//       transition: all 1s ease-in-out;
//   }



