<section class="container mt-5">
  <p class="rev-head c1 m-3 text-center">TESTIMONIALS</p>

<owl-carousel-o [options]="customOptions" class="slider">
  <ng-template carouselSlide>
    <div class="card m-3">
      <div class="card-body">
        <img class="mx-auto"
          src="https://image.shutterstock.com/image-photo/head-shot-portrait-close-smiling-260nw-1714666150.jpg"
          alt="ges">
        <h2 class="text-center">Best Services</h2>
        <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui exercitationem modi
          inventore omnis, repellat sequi at veritatis! Totam reprehenderit corporis eaque laborum officia voluptatem
          provident laudantium perspiciatis fugiat aut iure quos, dicta molestiae, dolorem fugit!</p>
        <p class="text-center">BY Parvesh Sangwan</p>
      </div>
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="card m-3">
      <div class="card-body">
        <img class="mx-auto"
          src="https://image.shutterstock.com/image-photo/head-shot-portrait-close-smiling-260nw-1714666150.jpg"
          alt="ges">
        <h2 class="text-center">Best Services</h2>
        <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui exercitationem modi
          inventore omnis, repellat sequi at veritatis! Totam reprehenderit corporis eaque laborum officia voluptatem
          provident laudantium perspiciatis fugiat aut iure quos, dicta molestiae, dolorem fugit!</p>
        <p class="text-center">BY Parvesh Sangwan</p>
      </div>
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="card m-3">
      <div class="card-body">
        <img class="mx-auto"
          src="https://image.shutterstock.com/image-photo/head-shot-portrait-close-smiling-260nw-1714666150.jpg"
          alt="ges">
        <h2 class="text-center">Best Services</h2>
        <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui exercitationem modi
          inventore omnis, repellat sequi at veritatis! Totam reprehenderit corporis eaque laborum officia voluptatem
          provident laudantium perspiciatis fugiat aut iure quos, dicta molestiae, dolorem fugit!</p>
        <p class="text-center">BY Parvesh Sangwan</p>
      </div>
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="card m-3">
      <div class="card-body">
        <img class="mx-auto"
          src="https://image.shutterstock.com/image-photo/head-shot-portrait-close-smiling-260nw-1714666150.jpg"
          alt="ges">
        <h2 class="text-center">Best Services</h2>
        <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui exercitationem modi
          inventore omnis, repellat sequi at veritatis! Totam reprehenderit corporis eaque laborum officia voluptatem
          provident laudantium perspiciatis fugiat aut iure quos, dicta molestiae, dolorem fugit!</p>
        <p class="text-center">BY Parvesh Sangwan</p>
      </div>
    </div>
  </ng-template>
</owl-carousel-o>

<!--
<owl-carousel-o [options]="customOptions">

  <ng-container *ngFor="let slide of slidesStore" class="slider-1">
    <ng-template carouselSlide [id]="slide.id">
      <div class="card">
        <div class="card-body">
          <img class="review-img" [src]="slide.src" [alt]="slide.alt" [title]="slide.title">
          <h2 class="text-center">Best Services</h2>
          <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui exercitationem modi inventore omnis, repellat sequi at veritatis! Totam reprehenderit corporis eaque laborum officia voluptatem provident laudantium perspiciatis fugiat aut iure quos, dicta molestiae, dolorem fugit!</p>
          <p class="text-center">BY Parvesh Sangwan</p>
        </div>
      </div>

    </ng-template>
  </ng-container>

</owl-carousel-o> -->
<button class="btn btn-lg bttn mx-auto d-flex"> <a href="#contactus"> Get Ready For Your Success Story</a></button>
</section>
