<!-- ===========Work with your dream team========== -->
<section class="container-fluid mt-5">
  <div class="row">
    <div class="col-md-6">
      <div class="p-2">
        <img src="../../../assets/image/workwith.png" alt="photo" width="100%">
      </div>
    </div>
    <div class="col-md-6 text-center">
      <div class="talk mt-5">
        <h1 class="hf">Work with your dream team and</h1>
        <p class="talk-txt hf">Speed Up Your <br> Business Growth</p>
        <button class="bttn btn"> <a href="#contactus"> Let's Talk</a></button>
      </div>
    </div>
  </div>
</section>


<!-- =============contact us form=========== -->


<section class="container mt-5" id="contactus">
  <div class="row">
    <div class="col-md-6 con-form" data-aos="zoom-in-down"
    data-aos-duration="2000">
      <div class="m-2 p-3 shadow-lg">
        <h1 class="text-center c1 hf">Let’s Get <br> On A Discovery Call</h1>
        <form class="gform" method="post" data-email="vortexdigitalworld@gmail.com" action="https://script.google.com/macros/s/AKfycbw4WSqqL2JJ38lxWbvLDnbF1mjhwxKHq36Pze3K5bUBWc66x9rBVrLfgBi5VGBzjrOyNA/exec"  name=”EmailForm”>
          <input class="form-control" name="name" type="text" placeholder="Name" id="name"> <br>
          <input class="form-control" name="email" type="email" placeholder="E-mail" id="email"> <br>
          <input class="form-control" name="number" type="number" placeholder="Phone Number" id="phone"> <br>
          <select class="form-select" name="service" id="ss" aria-label="Default select example">
            <option selected disabled>select Service</option>
            <option value="Complete Digital Marketing Solutions">Complete Digital Marketing Solutions</option>
            <option value="Website Development">Website Development</option>
            <option value="Social Media Marketing">Social Media Marketing</option>
            <option value="Content Marketing">Content Marketing</option>
            <option value="Search Engine Optimization">Search Engine Optimization</option>
            <option value="Blogging">Blogging</option>
            <option value="Paid Advertising">Paid Advertising</option>
            <option value="Email Marketing">Email Marketing</option>
          </select> <br>
          <textarea class="form-control" name="message" id="msg" rows="4" placeholder="Enter Message Here..."></textarea>
          <button type="submit"  class="bttn btn btn-lg m-2 d-flex mx-auto">Submit</button>
          <!-- <div style="display:none" class="thankyou_message"> -->
            <!-- You can customize the thankyou message by editing the code below -->
            <!-- <h2><em>Thanks</em> for contacting us! We will get back to you soon!
            </h2>
           </div> -->
        </form>
      </div>
    </div>


    <!-- ========contact us map======== -->


    <div class="col-md-6 con-map" data-aos="zoom-in-down"
    data-aos-duration="2000">
      <div class="m-2 p-3 shadow-lg">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4313.132443418005!2d76.68176413634694!3d29.12967178976233!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390dedb0d6ea9193%3A0x2340852c8fbaaa46!2sVortex%20Digital%20World!5e0!3m2!1sen!2sin!4v1656765728777!5m2!1sen!2sin" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <!-- <h2 class="tit mt-2">Vertex Digital World</h2>
        <p class="tit-1">Near Numberdar Shuttering Store Meham Road Gohana</p>
        <p><i class="fa-solid fa-phone "></i> PHONE : +91-9898989898</p>
      <p><i class="fa-solid fa-envelope "></i> EMAIL : support@vertexdigitalworld.com</p> -->
      </div>
    </div>
  </div>
</section>
