.talk{
// margin-top: 150px;
.talk-txt{
  font-size: 42px;
  font-weight: 900;
  line-height: 45px;
}}
.con-form, .con-map{
  .shadow-lg{
    height: 510px;
    border-radius: 15px;
  }
}
// .tit{
//   line-height: 12px;
// }
// .tit-1{
//   line-height: 10px;
// }
