<section class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="p-2">
        <img src="../../../assets/image/workwith.png" alt="">
      </div>
    </div>
    <div class="col-md-6">
      <div class="talk">
        <h1>Work with your dream team and</h1>
        <p class="talk-txt">Speed Up Your <br> Business Growth</p>
        <button class="bttn btn">Let's Talk</button>
      </div>
    </div>
  </div>
</section>
<section class="container">
  <div class="row">
    <div class="col-md-6 con-form">
      <div class="m-2 p-3 shadow-lg">
        <h1 class="text-center c1">Let’s Get <br> On A Discovery Call</h1>
        <form action="#">
          <!-- <label for="name">Name</label> -->
          <input class="form-control" type="text" placeholder="Name" id="name"> <br>
          <!-- <label for="email">E-mail</label> -->
          <input class="form-control" type="text" placeholder="E-mail" id="email"> <br>
          <!-- <label for="phone">Phone Number</label> -->
          <input class="form-control" type="number" placeholder="Phone Number" id="phone"> <br>
          <!-- <label for="ss">Select Service</label> -->
          <select class="form-select" id="ss" aria-label="Default select example">
            <option selected disabled>select Service</option>
            <option value="1">Complete Digital Marketing Solutions</option>
            <option value="2">Website Development</option>
            <option value="3">Social Media Marketing</option>
            <option value="3">Content Marketing</option>
            <option value="3">Search Engine Optimization</option>
            <option value="3">Blogging</option>
            <option value="3">Paid Advertising</option>
            <option value="3">Email Marketing</option>
          </select> <br>
          <!-- <label for="msg">Message</label> -->
          <textarea class="form-control" id="msg" rows="4" placeholder="Enter Message Here..."></textarea>
          <button class="bttn btn btn-lg m-2 d-flex mx-auto">Submit</button>
        </form>
      </div>
    </div>
    <div class="col-md-6 con-map">
      <div class="m-2 p-3 shadow-lg">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3485.1810064530882!2d76.67996271816169!3d29.129851119634623!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ded2858bb78c1%3A0xb7ae8631a1db130e!2sGohana-Meham%20Rd%2C%20Gohana%2C%20Haryana%20131301!5e0!3m2!1sen!2sin!4v1656554156263!5m2!1sen!2sin"
          width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>

        <!-- <h2 class="tit mt-2">Vertex Digital World</h2>
        <p class="tit-1">Near Numberdar Shuttering Store Meham Road Gohana</p>
        <p><i class="fa-solid fa-phone "></i> PHONE : +91-9898989898</p>
      <p><i class="fa-solid fa-envelope "></i> EMAIL : support@vertexdigitalworld.com</p> -->
      </div>
    </div>
  </div>
</section>
