/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@import "~bootstrap/dist/css/bootstrap.css";

* {
  font-family: 'Noto Sans', sans-serif;
}
html{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.hf {
  font-family: 'Lato', sans-serif;
}

.bttn {
  background-color: #dca73a !important;
  color: #fff !important;
:hover {
  background-color: #f1b233;
  color: #fff !important;
}
a{
  color: #fff;
  :hover{
    color:#fff
  }
}
}

.c1{
  color: #dca73a;
}
.sub-heading{
  font-size: 7vh;
  color: #dca73a;

}

// scroll bar
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 8px;
}
::-webkit-scrollbar-thumb {
  background: #dca73a;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #dca73a;
  width: 15px;
}
